<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.idempiere.model.LVE_FiscalPrinter"
         name="org.idempiere.model.LVE_FiscalPrinter"
         point="org.adempiere.base.ModelValidator">
      <listener
            class="org.idempiere.model.LVE_FiscalPrinter">
      </listener>
   </extension>

</plugin>
